body {
  font-family: 'helvetica neue';
  letter-spacing: 1px;
  font-weight: 200;
  text-align: center;
  padding: 0px;
  margin: 0 auto!important;
}

h1 {
  font-family: 'helvetica neue';
  font-weight: 100;
  font-size: 74px;
  margin-top: 25px!important;
  letter-spacing: -1px;
}

li {
  list-style-type: none!important;
  padding: 15px;
  border: 1px solid #000;
  margin: 30px auto;
  border-radius: 2px;
  width: 300px;
  box-shadow: 0px -1px 7px #ccc;
}

li:hover {
  background-color: #E0531D;
  border: 1px solid #E0531D;
  color: #fff;
}


ul {
  margin: auto;
  left: 0;
  padding: 15px;
  padding-left: 0px!important;
}

a {
  text-decoration: none!important;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: inherit;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 5px;
  border-radius: 4px;
  margin: auto;
  margin-top:5rpx!important;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

header {
  height: 350px;
  width: 100%;
  background-image: url('../assets/images/wait.jpeg')!important;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}


#nav li {
  display: inline-block!important;
  text-transform: uppercase;
  font-family: 'helvetica neue';
  font-weight: 500;
  font-size: 13px;
  border: none!important;
  letter-spacing: 4px;
  box-shadow: none!important;
  cursor: pointer;
}

#nav li:hover {
  background-color: transparent!important;
  color: #E0531D;
}

.time {
  color: #fff;
  background-color: #E0531D;
  border-radius: 2px;
  padding: 5px;
  font-family: menlo;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
