<header>
    <ul id="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/admin">Admin</a></li>
    </ul>
</header>

{{#link-to 'index'}}<h1 id="title">QueueLine</h1>{{/link-to}}

{{outlet}}
